In [14]:
import pandas as pd


temp = pd.read_csv('https://github.com/speegled/weather_forecasts/raw/main/data/weather_data.csv', usecols=['City', 'D0_Hi'])
city = pd.read_csv('https://github.com/speegled/weather_forecasts/raw/main/data/cities.csv', usecols=['city', 'lon', 'lat'])

In [15]:
temp = city.merge(temp, left_on='city', right_on='City', how='inner').drop(columns='City')
temp = temp.rename(columns={'D0_Hi': 'temp'})
temp = temp.dropna()
temp = temp.drop_duplicates()
temp

          city      lon       lat  temp
2      CONCORD  -71.500  43.20000  72.0
4      CONCORD  -71.500  43.20000  75.0
7      CONCORD  -71.500  43.20000  62.0
9      CONCORD  -71.500  43.20000  63.0
14     CONCORD  -71.500  43.20000  77.0
...        ...      ...       ...   ...
19700     YUMA -114.593  32.65944  70.0
19708     YUMA -114.593  32.65944  76.0
19722     YUMA -114.593  32.65944  68.0
19725     YUMA -114.593  32.65944  74.0
19742     YUMA -114.593  32.65944  60.0

[3709 rows x 4 columns]

In [17]:
# group by city and get the average temperature for each city and keep lon and lat
temp = temp.groupby(['city', 'lon', 'lat']).mean().reset_index()

In [19]:
temp['temp'] = temp['temp'].astype(int)

In [20]:
temp.to_csv('weather_data.csv', index=False)